<a href="https://colab.research.google.com/github/pkang0831/python_import_lesson/blob/gh-pages/Importing_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing pandas and numpy library
import pandas as pd
import numpy as np

# there are few different ways, but the most popular one is read_csv() from pandas library
path = "/Bit_Discrep_Data.csv"
df = pd.read_csv(path)

# in the dataset, if the header is not available (i.e. column variable name is not 
# available), you would use "header = None" as a second argument of this read_csv()
# instance.
df = pd.read_csv(path, header=None)
df = pd.read_csv(path)

# if you have "read" the csv data, you can check first 5 rows or first n rows using .head()
# method. default is first 5 rows. same thing goes for .tail()
df.head() # first 5 rows, by default if you don't specify the integer argument
df.head(10) # first 10 rows
df.tail() # last 5 rows, by default if you don't specify the integer argument
df.tail(10) # last 10 rows

# let's say that this data does not have any headers.
df = pd.read_csv(path, header = None)
df.drop(df.index[0], inplace=True) # don't mind at this stage

In [2]:
# then this df dataset will contain variable names (column names) as numeric integers. lets add headers to this specific dataset
headers = ['Date', 'Bit Discrep', 'MILL_OILSAND_MASS', 'P82_OILSAND_MASS',
       'OPPA contribution', 'OPPB contribution', '85WIC1703', '85WIC2803',
       '86FROTHORERATIO', '300FROTHORERATIO', 'MM_ORE_BPT_30M', 'SB_BPT_30M']
print(headers) # check if "headers" are correctly assigned
df.columns = headers
df.head(5)

['Date', 'Bit Discrep', 'MILL_OILSAND_MASS', 'P82_OILSAND_MASS', 'OPPA contribution', 'OPPB contribution', '85WIC1703', '85WIC2803', '86FROTHORERATIO', '300FROTHORERATIO', 'MM_ORE_BPT_30M', 'SB_BPT_30M']

       Date  Bit Discrep  ... MM_ORE_BPT_30M   SB_BPT_30M
1  3/1/2019  19.69791955  ...    0.737260171   0.74152442
2  3/2/2019  21.16363808  ...    0.749594188  0.747536415
3  3/3/2019  64.19063652  ...     0.75815843  0.733346353
4  3/4/2019  17.50700601  ...    0.740347257  0.742009511
5  3/5/2019  -15.9997933  ...    0.743169198  0.720819765

[5 rows x 12 columns]

In [3]:
# lets say, in the csv file that we imported, contains non-numeric, not NaN values. how do we replace them? you would use replace() to replace the values.
df = df.replace('#DIV/0!',np.NaN)
df = df.replace('#REF!',np.NaN)
df = df.replace('#VALUE!',np.NaN)
df = df.replace('#NAME?',np.NaN)
df = df.replace('#NULL!',np.NaN)
df = df.replace('#N/A',np.NaN) # We will try to use for loops for this later on.

# When all the values are replaced with NaN, you have few choices:

# 1. Replacing NaN with column averages using replace() method
# 2. Dropping observation where NaN is contained (mostly will be used in my case) using dropna() method

df = df.dropna(subset=df.columns,axis=0)
# dropna() function syntax is as follows:
# dataset.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
# axis = 0 means row, 1 means column
# how = 'any' means if any NA values are present, drop that row or column.
#       'all' means if all values are NA, drop that row or column.
# thresh = integer values, required amount of NA to drop that row
# subset = Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include. [array like]
# inplace = True or False

In [4]:
# saving dataset
# after you have completed pre-cleaning step, if you want to save it to other csv, you would use .to_csv() pandas method
df.to_csv("Data.csv",index=False)
# Read/Save Other Data Formats

# | Data Formate |        Read       |            Save |
# | ------------ | :---------------: | --------------: |
# | csv          |  `pd.read_csv()`  |   `df.to_csv()` |
# | json         |  `pd.read_json()` |  `df.to_json()` |
# | excel        | `pd.read_excel()` | `df.to_excel()` |
# | hdf          |  `pd.read_hdf()`  |   `df.to_hdf()` |
# | sql          |  `pd.read_sql()`  |   `df.to_sql()` |
# | ...          |        ...        |             ... |

# reading data types
# you would use .dtypes method in pandas to see what is the datatype for each variable.
df.dtypes

# after pre-cleansing step of the dataset, the simplest way of looking at data is by looking at descriptive statistics. you do this by:
df.describe()
# then you would see a table that contains all variable's mean, count, stdev, var, 25%, 50%, 75% quantiles, min and max
# if you include include='all', you would get stats on type object data as well. this describe function excludes NaN values
df.describe(include='all')

# Another way of looking at the data types or the information of the dataset is .info() method.

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592 entries, 1 to 592
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               592 non-null    object
 1   Bit Discrep        592 non-null    object
 2   MILL_OILSAND_MASS  592 non-null    object
 3   P82_OILSAND_MASS   592 non-null    object
 4   OPPA contribution  592 non-null    object
 5   OPPB contribution  592 non-null    object
 6   85WIC1703          592 non-null    object
 7   85WIC2803          592 non-null    object
 8   86FROTHORERATIO    592 non-null    object
 9   300FROTHORERATIO   592 non-null    object
 10  MM_ORE_BPT_30M     592 non-null    object
 11  SB_BPT_30M         592 non-null    object
dtypes: object(12)
memory usage: 60.1+ KB

In [9]:
# typecasting

# A lot of times, when raw dataset is imported, it contains non-numeric values, non-numeric numeric values (looks like numeric but type object) and etc.
# There are several different ways of casting the data types, but I will mainly use following 2 methods from pandas:
# 1 .astype() - you have to use for loops in this case.
# 2 .to_numeric() - you have to use for loops and use .apply() function, and this apply function will become very handy later on.

# Before we typecast every values to numeric, we know that OPPA contribution and OPPB contribution is in the %. we need to convert that into decimals first

for col in ['OPPA contribution','OPPB contribution']:
  df[col] = df[col].str.rstrip('%').astype('float') / 100.0

# # 1st method, using .astype():
for col in df.columns.drop('Date'):
  df[col] = df[col].astype('float')

# # 2nd method, using .to_numeric():
for col in df.columns.drop('Date'):
  df[col] = df[col].apply(pd.to_numeric,errors='coerce')

df['Date'] = df['Date'].apply(pd.to_datetime,errors='coerce')

# in .apply function, lambda will be used, but we will learn this later on 

# what I have just used is called 1 line for loop. it is used like
# for x in array-like[]: df[x] = df[x]...... (actions here)

In [10]:
df.dtypes

Date                 datetime64[ns]
Bit Discrep                 float64
MILL_OILSAND_MASS           float64
P82_OILSAND_MASS            float64
OPPA contribution           float64
OPPB contribution           float64
85WIC1703                   float64
85WIC2803                   float64
86FROTHORERATIO             float64
300FROTHORERATIO            float64
MM_ORE_BPT_30M              float64
SB_BPT_30M                  float64
dtype: object